<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/bookinglogin.css">
<head>
  <title>fuel</title>
</head>

<body class="body">

<header class="container">

</header>

<div >
  <!-- Ensure the message is visible when it has content -->
  <p th:if="${errors}" th:text="${errors}" id="alertMessage" ></p>
</div>
<form th:action="@{/logins}" th:method="post" th:object="${customer}" >
  <h3>LOGIN</h3>
  <label for="customer_id">Customer ID</label>
  <input type="text" id="customer_id" th:field="*{consumerId}" required>

  <label for="email">Email</label><br>
  <input type="email" id="email" th:field="*{email}" required>

  <button type="submit">Login</button>
</form>

<script>

  document.addEventListener("DOMContentLoaded", function () {

      var alertMessage = document.getElementById("alertMessage");

      if (alertMessage && alertMessage.innerText.trim() !== "") {

          alert(alertMessage.innerText);
      }
  });
</script>
</body>
</html>