<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/components/header.css" />
    <link rel="stylesheet" href="/css/components/forms.css" />
    <link rel="stylesheet" href="/css/components/buttons.css" />
    <link rel="stylesheet" href="/css/components/sucesssError.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/contacts.css" />
</head>
<body>
    <header class="header index-header">
        <nav class="nav">
          <a href="/home" class="nav-logo " >
            <i class="fas fa-gas-pump "></i> Bharat Gas
          </a>
          <ul class="nav-list mt-2" id="nav-list">
            <li class="nav-item"><a href="/home" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/about" class="nav-link">About Us</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link">Contact Us</a></li>
            <div class="nav-admin" th:if="${session.userType == 'ADMIN'}">
              <!-- <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle">Customer</a>
                <ul class="dropdown-content">
                  <li><a href="/register" class="dropdown-item">Customer Registration</a></li>
                  <li><a href="/customers" class="dropdown-item">Display Customers</a></li>
                </ul>
              </li> -->
              <li class="nav-item"><a href="/cylinder/index" class="nav-link">Cylinder Management</a></li>
              <li class="nav-item"><a href="/supplier/index" class="nav-link">Supplier Management</a></li>
  
              <li class="nav-item"><a href="/reports" class="nav-link">Report Management</a></li>
            </div>
      
            <li class="nav-item">
              <a th:if="${session.userType != null}" class="nav-link" href="/logout">LogOut</a>
            </li>
          </ul>
        </nav>
      </header>
      
  
</body>
</html>